---
import ArrowBox from "./ArrowBox.astro";
import TargetBox from "./TargetBox.astro";
import Character from "./Character.astro";
import Score from "./Score.astro";

// Generate 10 random arrows
const arrows = ["up", "down", "left", "right"] as const;
const randomArrows = Array.from({ length: 11 }, (_, index) => ({
  direction: arrows[Math.floor(Math.random() * arrows.length)],
  class: `game__arrow-box game__arrow-box--${index + 1}`,
}));
---

<div class="game" data-arrows={randomArrows}>
  <div
    style={{
      display: "none",
      gap: "1rem",
      padding: "1rem",
      marginLeft: "120px",
      zIndex: 10,
    }}
  >
    <button class="game__button--start">Start</button>
    <button class="game__button--measure">Measure</button>
    <button class="game__button--reset">Reset</button>
  </div>
  <Score class="game__score" />
  <div class="game__battleground">
    <Character type="hero" />
    <Character type="boss" />
  </div>
  <div class="game__arrow-container">
    <TargetBox>
      {
        randomArrows.map(({ direction, class: className }) => (
          <ArrowBox arrow={direction} class={className} />
        ))
      }
    </TargetBox>
  </div>
</div>

<script>
  import { loadAllSounds, playSound } from "../../utils/soundUtils";
  import { measureDistance } from "../../utils/measureDistance.ts";

  const hero = document.querySelector(".character--hero");
  const boss = document.querySelector(".character--boss");
  const scoreLight = document.querySelectorAll(".score__light");
  const currentStreak = parseInt(localStorage.getItem("currentStreak") ?? "0");

  // Update transition duration based on current streak
  const updateTransitionDuration = () => {
    const arrowBoxes = document.querySelectorAll(".game__arrow-box");
    arrowBoxes.forEach((box) => {
      const baseTransitionDuration = 16;
      const newDuration = Math.max(
        1,
        baseTransitionDuration -
          (baseTransitionDuration * currentStreak * 10) / 100,
      );
      (box as HTMLElement).style.transitionDuration = `${newDuration}s`;
    });
  };

  // Call the function to set initial transition duration
  updateTransitionDuration();

  loadAllSounds();

  // Game state
  const gameState = {
    step: 1,
    heroScore: 0,
    bossScore: 0,
  };

  // Get arrow sequence
  const getArrowSequence = () => {
    const gameArrows = document.querySelectorAll(".arrow-box__arrow");
    return Array.from(gameArrows)
      .map((arrow) => {
        const className = arrow.className;
        if (className.includes("left")) return "ArrowLeft";
        if (className.includes("up")) return "ArrowUp";
        if (className.includes("down")) return "ArrowDown";
        if (className.includes("right")) return "ArrowRight";
        return null;
      })
      .filter((direction) => direction !== null);
  };

  const randomArrows = getArrowSequence();

  // Handle key press
  const handleKeyPress = (event: KeyboardEvent) => {
    event.preventDefault();

    const keyMap: { [key: string]: string } = {
      ArrowLeft: "ArrowLeft",
      ArrowUp: "ArrowUp",
      ArrowDown: "ArrowDown",
      ArrowRight: "ArrowRight",
      a: "ArrowLeft",
      w: "ArrowUp",
      s: "ArrowDown",
      d: "ArrowRight",
      q: "ArrowLeft",
      z: "ArrowUp",
    };

    const pressedKey = keyMap[event.key] || keyMap[event.key.toLowerCase()];
    if (!pressedKey) {
      playSound("click");
      return;
    }

    if (gameState.step > randomArrows.length) return;

    const currentArrow = randomArrows[gameState.step - 1];
    const currentArrowBox = document.querySelector(
      `.game__arrow-box--${gameState.step}`,
    );
    if (!currentArrowBox) return;

    const isCorrectKey = pressedKey === currentArrow;
    const distance = measureDistance(
      ".target-box",
      `.game__arrow-box--${gameState.step}`,
    );

    if (isCorrectKey && distance && distance >= -20 && distance <= 20) {
      currentArrowBox.classList.add("arrow-box--success");
      boss?.classList.add("character--hurt");
      setTimeout(() => {
        boss?.classList.remove("character--hurt");
      }, 800);
      playSound("sword");
      gameState.heroScore++;
      scoreLight[gameState.heroScore - 1]?.classList.add(
        "score__light--on-hero",
      );
    } else {
      currentArrowBox.classList.add("arrow-box--failed");
      hero?.classList.add("character--hurt");
      setTimeout(() => {
        hero?.classList.remove("character--hurt");
      }, 800);
      playSound("grunt");
      gameState.bossScore++;
      Array.from(scoreLight)
        .reverse()
        [gameState.bossScore - 1]?.classList.add("score__light--on-boss");
    }

    gameState.step++;
    updateScore();
    checkGameEnd();
  };

  // Update score
  const updateScore = () => {
    console.log("SCORE:", gameState.heroScore, " / ", gameState.bossScore);
  };

  // Check if game has ended
  const checkGameEnd = () => {
    if (gameState.heroScore === 6) {
      const maxStreak = parseInt(localStorage.getItem("maxStreak") ?? "0");
      const currentStreak = parseInt(
        localStorage.getItem("currentStreak") ?? "0",
      );
      localStorage.setItem("currentStreak", (currentStreak + 1).toString());
      if (currentStreak > maxStreak) {
        localStorage.setItem("maxStreak", (currentStreak + 1).toString());
      }

      window.location.href = `/game/result?result=win`;
    } else if (gameState.bossScore === 6) {
      localStorage.setItem("currentStreak", "0");
      window.location.href = `/game/result?result=lose`;
    }
  };

  // Start game function
  const startGame = () => {
    const arrowBoxes = document.querySelectorAll(".game__arrow-box");
    console.log("arrowBoxes", arrowBoxes);
    arrowBoxes.forEach((arrowBox) => {
      arrowBox.classList.add("game__arrow-box--active");
    });
  };

  // Reset game
  const resetGame = () => {
    window.location.reload();
  };

  // Event listeners
  document.addEventListener("keydown", handleKeyPress);
  document
    .querySelector(".game__button--start")
    ?.addEventListener("click", startGame);
  document
    .querySelector(".game__button--reset")
    ?.addEventListener("click", resetGame);

  // Auto-start game on page load
  window.addEventListener("load", () => {
    setTimeout(startGame, 1000); // Delay start by 1 second
  });
</script>

<script>
  const html = document.querySelector("html");
  html?.setAttribute("data-theme", "dark");
</script>

<style>
  .game {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    max-width: 1440px;
  }

  .game__arrow-container {
    position: relative;
    bottom: 0px;
    display: flex;
    gap: 1rem;
    padding: 60px 100px 40px 100px;
  }

  .game__score {
    max-height: calc(80px + 76px);
    flex-grow: 1;
    align-items: flex-end;
  }

  .game__battleground {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
  }

  :root {
    --game-arrow-gap: calc(var(--game-arrow-width) + 40px);
    --game-arrow-width: 106px;
    --game-arrow-offset: 25%;
  }
  .game__arrow-box--1 {
    left: calc(var(--game-arrow-offset) + var(--game-arrow-width));
  }
  .game__arrow-box--2 {
    left: calc(
      var(--game-arrow-offset) + var(--game-arrow-width) + var(--game-arrow-gap)
    );
  }
  .game__arrow-box--3 {
    left: calc(
      var(--game-arrow-offset) + var(--game-arrow-width) + var(--game-arrow-gap) *
        2
    );
  }
  .game__arrow-box--4 {
    left: calc(
      var(--game-arrow-offset) + var(--game-arrow-width) + var(--game-arrow-gap) *
        3
    );
  }
  .game__arrow-box--5 {
    left: calc(
      var(--game-arrow-offset) + var(--game-arrow-width) + var(--game-arrow-gap) *
        4
    );
  }
  .game__arrow-box--6 {
    left: calc(
      var(--game-arrow-offset) + var(--game-arrow-width) + var(--game-arrow-gap) *
        5
    );
  }
  .game__arrow-box--7 {
    left: calc(
      var(--game-arrow-offset) + var(--game-arrow-width) + var(--game-arrow-gap) *
        6
    );
  }
  .game__arrow-box--8 {
    left: calc(
      var(--game-arrow-offset) + var(--game-arrow-width) + var(--game-arrow-gap) *
        7
    );
  }
  .game__arrow-box--9 {
    left: calc(
      var(--game-arrow-offset) + var(--game-arrow-width) + var(--game-arrow-gap) *
        8
    );
  }
  .game__arrow-box--10 {
    left: calc(
      var(--game-arrow-offset) + var(--game-arrow-width) + var(--game-arrow-gap) *
        9
    );
  }

  .game__arrow-box--11 {
    left: calc(
      var(--game-arrow-offset) + var(--game-arrow-width) + var(--game-arrow-gap) *
        10
    );
  }

  .game__arrow-box--active {
    transform: translateX(-2400px);
    transition-property: transform;
    transition-duration: 16s;
    transition-timing-function: linear;
  }
</style>
