---
import GameLayout from "../../layouts/GameLayout.astro";
import { Image } from "astro:assets";
import Key1 from "../../images/game/key1.svg";
import Key2 from "../../images/game/key2.svg";
import Boss from "../../images/game/boss1.png";
import Star from "../../images/logos/Star.svg";
---

<GameLayout>
  <Fragment slot="header">CLASH TIME!</Fragment>

  <Fragment slot="subtitle">/ RÈGLESDUJEU</Fragment>

  <Fragment slot="title">
    <span class="result__title"
      >Règles <span class="result__title-key"
        ><Image src={Key1} alt="Key" width={Key1.width} height={Key1.height} />
        <Image
          src={Key2}
          alt="Key"
          width={Key2.width}
          height={Key2.height}
        /></span
      > du Clash</span
    ><Image src={Star} alt="" class="result__title-star" />
  </Fragment>

  <Fragment slot="content">
    <span class="result__content">
      Que serait Clash of Dev sans un <strong style={{ fontWeight: 700 }}
        >réel Clash</strong
      > ? Une réelle bataille ?<br />
      <br />
      Exécute la <strong>bonne combinaison des 10 touches</strong> à temps pour vaincre
      <strong>LE SUR-BOOSTED</strong>, aka ton lead tech un peu chiant.<br />
      <br />
      Tu peux jouer avec <strong>ZQSD</strong>, <strong>WASD</strong>, ou bien
      avec les <strong>flèches directionnelles</strong>.<br />
      <br />
      <strong>Montre nous tes skills !</strong>
    </span>
  </Fragment>

  <Fragment slot="images">
    <Image
      src={Boss}
      alt="Boss"
      class="result__image"
      width={Boss.width / 2}
      height={Boss.height / 2}
    />
  </Fragment>

  <span slot="button">Start the game</span>
</GameLayout>

<script>
  const button = document.querySelector(
    ".game-layout__button",
  ) as HTMLAnchorElement;
  button.href = "/game/pick";
</script>

<style>
  .result__title-key {
    position: relative;
    right: 200px;
  }

  .result__title-key :first-child {
    position: absolute;
    top: 50px;
    left: -40px;
  }

  .result__title-key :last-child {
    position: absolute;
    top: 0;
    left: 50px;
  }

  .result__title-star {
    position: relative;
    bottom: 60px;
    left: 10px;
  }
</style>
